<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


      {% block cssblock %}
      {% endblock %}
  </head>
    {% include 'Homepage/navbar.html' %}
  <body>
    <script src="{% static 'homepage/assets/js/cart.js' %}" ></script>
    {% block content %}
    {% endblock %}
    {% include 'Homepage/footer.html'%}


      {% block jsblock %}
      {% endblock %}
  </body>

</html>